@import "variables";
@import "mixins";

html {
    @include breakpoint-down(medium) {
        scroll-behavior: smooth;
        overflow:auto;
        }
    
    height:100vh;
    font-size:100%;
    box-sizing: border-box;
    overflow:hidden;
  
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    @include breakpoint-down(medium) {
scroll-behavior: smooth;
        overflow:auto;
        }
font-size: $font-md;
height: 100vh;
padding:0;
margin:0;

font-family: $Barlow;
line-height: 1rem;
background: $lightGrayishBlue;
overflow:hidden;

}

.grid {

    display:grid;
}

.flex {

    display:flex;

    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }

    &-fd-c {
        flex-direction: column;
    }

    &-jc-fs {
        justify-content: flex-start;
    }
    &-jc-fe {
        justify-content: flex-end;
    }
}

.border {

    border-radius: 10px;
}